body {
    text-align: center;
    background-color: #fff;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    display: flex;
}
#thinking {
    text-align: left;
}
.answers {
    text-align: left;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 50vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.submit {
    height: 4rem;
    margin-top: auto;
    padding: 10px;
    margin-left: 0px;
    border-width: 2px;
    margin-bottom:100px;
}
.submit:hover {
    background: #fff;
    color: #000;
    border-width: 2px;
    
}
#questionInput {
    margin-bottom:100px;
    padding: 10px;
    width: 90%;
    font-size: 16px;
    height: 4em;
    margin-top: auto;
    
    
    border-radius: 10px;
    border-width: 2px;
    border-color: #333;
    resize: none;
    overflow-y: auto;  
    -ms-overflow-style: none;
    scrollbar-width: none;   
}
.name {
    margin:auto;
    justify-content:center; 
}
.title{
    font-size: 5rem;
    margin-top: 50px;
}
