
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Prata&family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ryanAI</title>
  </head>
  <body>
    <script>
        let thinkingInterval;

        function startThinking() {
            const thinkingDiv = document.createElement('div');
            thinkingDiv.id = "thinking";
            thinkingDiv.style.display = 'block';
            document.querySelectorAll('.answers')[0].appendChild(thinkingDiv);
            const text = 'thinking...';
            let index = 0;
            let direction = 1;

            thinkingInterval = setInterval(() => {
                if (direction === 1) {
                    thinkingDiv.innerText = text.slice(0, index);
                    index++;
                    console.log("type: "+thinkingDiv.innerText + " index: " + index);
                    if (index > text.length) {
                        direction = -1;
                        
                    }
                } else {
                    thinkingDiv.innerText = text.slice(0, index);
                    index--;
                    console.log("delete: "+thinkingDiv.innerText + " index: " + index);
                    if (index < 0) {
                        index=0;
                        direction = 1;
                    
                    }
                }
            }, 100);
        }

        function stopThinking() {
            clearInterval(thinkingInterval);
            var thinkingDiv = document.getElementById('thinking');
            if (thinkingDiv) {
                thinkingDiv.remove();
            }
        }
        function sendQuestion() {
            startThinking();
            document.getElementById('submitButton').disabled = true;
            const questionText = document.getElementById('questionInput').value;
            if (questionText.trim() == "") {
                stopThinking();
                alert("Looks like you haven't asked anything!");
                document.getElementById('submitButton').disabled = false;
                return;
            }
            document.getElementById('questionInput').value = '';

            fetch("{{ url_for('ask') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ question: questionText })
            })
            .then(response => response.json())
            .then(data => {
                const responseDiv = document.createElement('div');
                const space = document.createElement('hr');
                responseDiv.innerText = data.answer;
                stopThinking();
                document.querySelectorAll('.answers')[0].appendChild(responseDiv);
                document.querySelectorAll('.answers')[0].appendChild(space);
                document.getElementById('submitButton').disabled = false;
            })
            .catch(error => {
                stopThinking();
                console.error('Error: ', error);
                alert('Looks like something went wrong. Please try again.');
                document.getElementById('questionInput').value = questionText;
                document.getElementById('submitButton').disabled = false;
            });
        }
    </script>
    <div class="container-fluid" style="max-width:1050px">
        <header class="site-header">
            <div class="row name">
                <h1 class="title">ryanAI</h1>
            </div>
            <div class="answers">
                
            </div>
            
            <div class="container">
                <textarea id="questionInput" placeholder="Ask anything"></textarea>
                <button id="submitButton" onclick="sendQuestion()" class="btn-dark btn-lg btn submit" href="" aria-label="Submit">
                    Submit
                </button>
            </div>
        </header>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
